<div class="container">
    <div class="">
          <div class="col-md-10 mt-5">
      <h5>Create new post</h5>
      <div id="form-info"></div>
      <h6><a href=''>All notes</a></h6>
      <hr>
       <form class="form" method="POST" id="create-note-form">
          <div class="form-group">
              <label>
                  Post Title
              </label>
              <input type="text" name='post_title' class="form-control">
          </div>

          <div class="form-group">
              <label>
                  Post Content
              </label>
              <textarea class="form-control" name="post_content" id="post_content"></textarea>
          </div>

          <div class="form-group">
              <button type="submit" class="btn btn-primary" id="create-post-form-btn">Create Post</button>
          </div>
      </form>
     </div>
    </div>
</div>