<h1>{{title}}</h1>
<p>Welcome to {{title}}!. Share notes with your friends</p>
<div>
    {{!-- <button type='button' onclick="location.href='/create-post'"class="btn btn-sm btn-primary">Get Started</button> --}}
    <a href="/create-post" class="btn btn-sm btn-primary">Get Started</a>
</div>
